*{
    margin: 0px;
    padding: 0px;

    font-family: 'Asul', sans-serif;
}

html, body {
    width: 100%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.sticky-header {
    width: 100%;
    padding-top: 6px;
    margin-top: 25px;
    height: 50px;
    position: fixed;
    top: 0%;
    right: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sticky-header img {
    height: 30px;
    margin-left: 10%;
    float: left;
    display: inline-block;
}

.input-tf-nonstretch {
    width: 40%;
    float: left;
    padding-left: 8px;
    height: 30px;
    font-size: 20px;
    margin-left: 10px;
}

/* do not group these rules */
.input-tf-nonstretch::-webkit-input-placeholder {
    color: rgb(120, 120, 120);
}
.input-tf-nonstretch:-moz-placeholder {
    color: rgb(120, 120, 120);
}
.input-tf-nonstretch::-moz-placeholder {
    color: rgb(120, 120, 120);
}
.input-tf-nonstretch:-ms-input-placeholder {
    color: rgb(120, 120, 120);
}

.input-button-search {
    width: 70px;
    height: 30px;
    float: left;
    background-image: url("../img/ic_search.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 2px;
    margin-left: 10px;
}

.content {
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0.65);
    color: rgb(0, 0, 0);
    padding: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #a2a2a2;
    border-radius: 25px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content img {
    max-width: 100%;
    float: left;
    border-radius: 10px;
    margin-bottom: 8px;
}

.footer-wrapper {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10px;
}

.footer-list li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    text-shadow: 2px 0 0 #000000, 0 -2px 0 #000000, 0 2px 0 #000000, -2px 0 0 #000000;
}

.footer-list li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer-list-wrapper {
    margin-left: 10%;
}

.giant-title {
    display: block;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.huge-title {
    display: block;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
